@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");

/* Phone Sizing */
@media (max-width: 599px) {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --theme-1: #fde12d;
    --theme-2: #ff7f11;
    --theme-3: #5299d3;
    --light: #f6f8ff;
    --dark: #292f36;
  }
  /* ---------------- Header Stuff ---------------- */
  header {
    display: flex;

    background-color: var(--theme-1);
    height: 7vh;
    width: 100vw;
    padding: 1rem;
    border-bottom: 0.4rem var(--theme-2) solid;
  }

  header img {
    width: 3rem;
  }

  header h1 {
    font-family: "Macondo", cursive;
    line-height: 3rem;
    margin-left: 1rem;
    font-size: 38px;
    color: var(--dark);
    font-weight: 1000;
  }

  /* ---------------- Post Stuff ------------------- */

  .container {
    display: flex;
    flex-flow: column wrap;
    background-color: var(--light);
  }

  .post {
    width: auto;
    border: var(--dark) 1px solid;
    border-radius: 15px;
    font-size: 16px;
    overflow: hidden;
    margin: 0.5rem;
    -webkit-box-shadow: 5px 5px 5px 0px var(--dark),
      5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 5px 0px var(--dark);
  }

  .postTitle {
    background-color: var(--theme-2);
    color: var(--light);
    padding: 0.5rem;
  }

  .postBody {
    margin: 1rem;
    display: flex;
  }
  .preview {
    color: var(--dark);
    flex:2;
  }
  .postInfo {
    flex:1;
}

  .dateTime {
    color: var(--theme-3);
  }
  .comments {
    color: var(--theme-3);
  }
  .reactions {
    color: var(--theme-3);
  }

  .latest-post {
    order: -1;
  }

  @media (prefers-color-scheme: dark) {
    .dark-scheme {
      background: var(--dark);
      color: var(--light);
    }
  }
}
